* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-size: 175%;
}
p {
	padding: 10px;
}
}
#chickenTag {
	background-color: green;
}
#beefTag {
	background-color: green;
}
#sushiTag {
	background-color: blue;
}
.tag {
	font-size: 125%;
	border: 1px solid black;
	position: absolute;
	right: 0px;
	width: 25px;
	text-align: center;
	min-width: 78px;
}
.column {
	width:	33.33%;
	float:	left;
	min-height: 200px;
	margin-top: 15px;
	padding: 10px;
}
.content {
	margin: auto;
	background-color: gray;
	border: 1px solid black;
	position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.column{
		width: 50%;
	}

	#sushi{
	width:	100%;
	padding: 0px 10px;
	}
}

@media (max-width: 767px) {

.column {
	width: 100%;
}
.container {
	width: 90%;
}
}